body{
    background-color: #3A3B3C;
    color: white;
}

a:link {
    color:light gray;
    background-color:transparent;
    text-decoration: none;

}
a:visited{
    color:gray;
    background-color:transparent;
    text-decoration:none;
}

a:hover{
    color: white;
    background-color:transparent;
    text-decoration: underline;
}
