body{
    background-color:black;
    color: white;

}

a:link {
    color:light gray;
    background-color:transparent;
    text-decoration: none;

}
a:visited{
    color:gray;
    background-color:transparent;
    text-decoration:none;
}